In [ ]:
#This dataset has demographic information on a randomly chosen sample of 1,024 subscribers to ESPN: The Magazine
#The cluster analysis could help marketers to understand their loyalty customers who are more likely to subscribe their magazine.

In [ ]:
#import KMeans from sklearn.cluster
#import silhouette_score from sklearn.metrics 
#import pandas and numpy as well
#Step1. Load and preview attached 'espn data.xlsx'

In [2]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [3]:
espn = pd.ExcelFile('espn data.xlsx')

In [4]:
espn.sheet_names

['Subscribers']

In [5]:
espn = espn.parse('Subscribers')
espn

      Age Gender  Income  Location
0      72      m      72     rural
1      29      m      68  suburban
2      33      m      57  suburban
3      25      m      62  suburban
4      38      m     164     urban
...   ...    ...     ...       ...
1019   22      m      88  suburban
1020   39      m      84     rural
1021   46      m      52  suburban
1022   57      m      45     urban
1023   21      m     128     urban

[1024 rows x 4 columns]

In [ ]:
#Step2. Data Preprocessing
#We are using k-means cluster as the main algorithm, so you need to drop Categorical data

In [10]:
espn.dropna(inplace=True)

In [11]:
espn.drop('Location', axis=1, inplace=True)

In [12]:
espn.head(2)

   Age Gender  Income
0   72      m      72
1   29      m      68

In [ ]:
#Step3. Exploratory Data Analysis (EDA)
#3.1 Simply apply k-means algorithm here and use silhouette_score to find the right K number
#3.2 Insert the clusters labels back to the dataframe
#3.3 Use groupby() and other fundamental statistic tools (eg. mean, count, median, mode) to look for their loyalty customers.

In [16]:
#3.1 
x = espn[['Age', 'Gender', 'Income']]
x.head(3)

   Age Gender  Income
0   72      m      72
1   29      m      68
2   33      m      57

In [33]:
#3.2
kmeans = KMeans(n_clusters=5).fit(x)
kmeans.cluster_centers_
labels = kmeans.labels_
x['cluster'] = labels

ValueError: could not convert string to float: 'm'

In [34]:
#3.3
x.groupby('cluster').mean()
from sklearn.metrics import silhouette_score
for i in range(3,8):
    kmeans = KMeans(n_clusters=i).fit(x)
    labels = kmeans.labels_
    print(silhouette_score(x, labels))

KeyError: 'cluster'